@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.rc-slider-track {
  background-color: #3f80ff;
}

.rc-slider-handle {
  background-color: #3f80ff;
  opacity: 1 !important;
  border: none;
}
